*{
    box-sizing: border-box;
}

/*HEADER*/
header{
    background-color: rgb(248, 248, 248);
}

#container-header{
    display: flex;
}

#logo img{
    width: 100px;
    height: 100%;
    padding: 5px;
}

header nav{
    width: 100%;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

header nav ul li{
    margin-top: 20px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(44, 43, 43);
}
/*HEADER*/

/*NOSOTROS*/

#container-nosotros{
    background-color: rgb(44, 43, 43);
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#container-nosotros img{
    width: 50%;
    height: 300px;
    border-radius: 5px;
}

#container-nosotros p{
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
}

#descripcion-nosotros{
    padding-bottom: 60px;
    padding-top: 40px;
    background-color: rgb(248, 248, 248);
}

#descripcion-nosotros h3{
    text-align: center;
}

#descripcion-nosotros p{
    padding: 0 50px 0 50px;
    color: rgb(44, 43, 43);
    text-align: center;
    letter-spacing: 0.4px;
}

/*NOSOTROS*/

/*CURSOS*/

#seccion-cursos{
    background-color: rgb(248, 248, 248);
}

#container-cursos{
    background-color: rgb(44, 43, 43);
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-cursos img{
    width: 50%;
    height: 300px;
    border-radius: 5px;
}

#container-cursos p{
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
}

#descripcion-cursos{
    padding-top: 40px;
    background-color: rgb(248, 248, 248);
}

#descripcion-cursos h3{
    text-align: center;
}

#descripcion-cursos p{
    padding: 0 50px 0 50px;
    color: rgb(44, 43, 43);
    text-align: center;
    letter-spacing: 0.4px;
}

/*CURSOS*/

/*TRABAJOS*/
#empleos{
    background-color: rgb(248, 248, 248);
    padding-top: 20px;
    padding-bottom: 5px;
}

#empleos p{
    text-align: center;
}

#titulo-empleos{
    text-align: center;
}

#link{
    text-align: center;
    margin-bottom: 40px;
}

/*TRABAJOS*/

/*CONTACTO*/

#seccion-contacto{
    background-color:  rgb(248, 248, 248);
}

.form-container{
    display: flex;
    justify-content: center;
}

.form-container h3{
    text-align: center;
}

#form{
    text-align: center;
    padding-bottom: 20px;
}

#button{
    margin: auto;
}

.field {
    margin-bottom: 10px;
  }
  
.field label {
    display: block;
    color: #325C59;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #325C59;
    color: #fff;
    border-radius: 1px;
  }

/*FOOTER*/

footer{
    background-color:  rgb(248, 248, 248);
    color: #325C59;
    text-align: center;
    padding-top: 10px;
}

footer p{
    margin-bottom: 20px;
}

footer .spotify{
    margin-top: 60px;
    margin-bottom: 35px;
}

footer a{
    color: #2C81A6;
}